version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: mrteodb
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - mrteo-network

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    restart: always
    ports:
      - '3001:3001'
    environment:
      DATABASE_URL: "postgresql://admin:password123@db:5432/mrteodb?schema=public"
      PORT: 3001
      NODE_ENV: "production"
    depends_on:
      - db
    networks:
      - mrteo-network

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    restart: always
    ports:
      - '80:80'
    depends_on:
      - api
    networks:
      - mrteo-network

networks:
  mrteo-network:
    driver: bridge

volumes:
  postgres_data:
