name: Deploy MVP to AWS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            # 1. Definimos la carpeta y el repo
            DIR="/home/ubuntu/mr-teo-project"
            REPO="https://github.com/Kadumendez/IDAT_M06_PY.git"

            # 2. Lógica Inteligente: ¿Existe la carpeta?
            if [ ! -d "$DIR" ]; then
              echo "La carpeta no existe. Clonando repositorio por primera vez..."
              git clone $REPO $DIR
            else
              echo "La carpeta existe. Actualizando código..."
              cd $DIR
              git pull origin main
            fi

            # 3. Entrar y levantar Docker
            cd $DIR
            
            # Usamos sudo para asegurar que Docker tenga permisos
            echo "Reiniciando contenedores..."
            sudo docker-compose down || true
            sudo docker-compose up -d --build